<div id="<%= dom_id comment %>" data-controller="toggle-comment-form" class="flex flex-col py-6 my-4 border-b-2 border-gray-100">

  <%# Comment body %>
  <div id="comment-<%= comment.id %>-body" data-toggle-comment-form-target="text">
    <p class=""><%= comment.body %></p>
  </div>
  <%# Form (initially hidden) %>
  <div data-toggle-comment-form-target="form" class="hidden">
    Placeholder
    <%= render "comments/form", post: @post, comment: comment %>
  </div>

  <%# Author and buttons %>
  <div class="flex mt-4 text-gray-600 text-sm">
    <span class=""><%= comment.user.email.upcase %> @ <%= comment.created_at.strftime("%B %e, %Y").upcase %></span>

    <% if comment.user == current_user %>

      <div class="uppercase border-l-2 border-gray-400 pl-2 ml-2">
        <%# Edit button that displays form with stimulus %>
        <button 
          type="button" 
          class="hover:text-blue-600 transition ease-in-out duration-150" 
          data-action="click->toggle-comment-form#toggleForm">
          EDIT
        </button>
        
        <%#= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
      </div>

      <div class="border-l-2 border-gray-400 pl-2 ml-2">
        <%= button_to "Remove", post_comment_path(comment.post, comment), method: :delete, data: { 'turbo-confirm': "Are you sure?" }, class:'uppercase' %>
      </div>

    <% end %>
  </div>


</div>